name: 'Building'
on: ['pull_request']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.5"

      - name: Install dependencies
        run: bun install

      - name: Prepare environment
        run: bunx --bun nuxt prepare

      - name: Run generate
        run: bun run --bun generate
